<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
	</script>
</head>

<body>
   <h1 th:text="#{greeting}"></h1>
   
   <span th:text="#{lang.change}"></span>:
		<select id="locales">
    		<option value=""></option>
    		<option value="en" th:text="#{lang.eng}"></option>
    		<option value="fr" th:text="#{lang.fr}"></option>
    		<option value="th" th:text="#{lang.th}"></option>
		</select>


<script type="text/javascript">
$(document).ready(function() {
    $("#locales").change(function () {
        var selectedOption = $('#locales').val();
        if (selectedOption != ''){
            window.location.replace('index?lang=' + selectedOption);
        }
    });
});
</script>
</body>
</html>